*{
    overflow: hidden;
    margin: 0;

}

.navbar{
    justify-content: center;
    display: block;
    margin: auto;
    width: 100vw;
    margin: 0;
    padding: 0;
}
.nav{
    padding: 1rem 0px;
    border-radius: 1px;
    margin: 10;
    width: 100vw;
    gap: 0.7rem;

    justify-content: center;
}
.navbar li a{
    font-size: 4.5vw;
}

